<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dina posts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Posts från {{username}}</h1>
    <button><a href="/home">Posta</a></button>

    {{#if posts.length}}
        {{#each posts}}
            <div>
                <h2>{{this.message}}</h2> 
                <div>{{this.timestamp}}</div>
                <form action="/delete-post" method="POST" style="display:inline;">
                    <input type="hidden" name="postId" value="{{this.id}}">
                    <button type="submit">Radera</button>
                </form>
            </div>
        {{/each}}
    {{else}}
        <p>Du har inte postat något än.</p>
    {{/if}}
</body>
</html>
